.icon-arrow-down-black {
  background-image: url(../../img/sprite.png);
  background-position: -56px -126px;
  width: 29px;
  height: 16px; }

.icon-arrow-down-round {
  background-image: url(../../img/sprite.png);
  background-position: 0px -90px;
  width: 56px;
  height: 56px; }

.icon-arrow-left-gray {
  background-image: url(../../img/sprite.png);
  background-position: -248px -187px;
  width: 10px;
  height: 23px; }

.icon-arrow-right-gray {
  background-image: url(../../img/sprite.png);
  background-position: -218px -90px;
  width: 10px;
  height: 23px; }

.icon-arrow-scroll-top {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 90px;
  height: 90px; }

.icon-check-small {
  background-image: url(../../img/sprite.png);
  background-position: -253px -75px;
  width: 6px;
  height: 5px; }

.icon-check {
  background-image: url(../../img/sprite.png);
  background-position: -85px -126px;
  width: 20px;
  height: 16px; }

.icon-checkbox {
  background-image: url(../../img/sprite.png);
  background-position: -232px -168px;
  width: 21px;
  height: 19px; }

.icon-chervon-left-black {
  background-image: url(../../img/sprite.png);
  background-position: -29px -146px;
  width: 29px;
  height: 66px; }

.icon-chervon-right-black {
  background-image: url(../../img/sprite.png);
  background-position: 0px -146px;
  width: 29px;
  height: 66px; }

.icon-clock-blue {
  background-image: url(../../img/sprite.png);
  background-position: -232px -105px;
  width: 22px;
  height: 22px; }

.icon-clock {
  background-image: url(../../img/sprite.png);
  background-position: -190px -90px;
  width: 28px;
  height: 26px; }

.icon-email-black {
  background-image: url(../../img/sprite.png);
  background-position: -105px -126px;
  width: 19px;
  height: 13px; }

.icon-email {
  background-image: url(../../img/sprite.png);
  background-position: -56px -90px;
  width: 50px;
  height: 36px; }

.icon-fb {
  background-image: url(../../img/sprite.png);
  background-position: -134px -90px;
  width: 28px;
  height: 27px; }

.icon-gconstruct {
  background-image: url(../../img/sprite.png);
  background-position: -232px -127px;
  width: 21px;
  height: 21px; }

.icon-insta {
  background-image: url(../../img/sprite.png);
  background-position: -106px -90px;
  width: 28px;
  height: 27px; }

.icon-phone-gray {
  background-image: url(../../img/sprite.png);
  background-position: -91px -146px;
  width: 15px;
  height: 15px; }

.icon-phone-o {
  background-image: url(../../img/sprite.png);
  background-position: -124px -126px;
  width: 13px;
  height: 13px; }

.icon-placeholder-black {
  background-image: url(../../img/sprite.png);
  background-position: -102px -161px;
  width: 11px;
  height: 16px; }

.icon-placeholder-blue {
  background-image: url(../../img/sprite.png);
  background-position: -232px -75px;
  width: 21px;
  height: 30px; }

.icon-placeholder-gray {
  background-image: url(../../img/sprite.png);
  background-position: -91px -161px;
  width: 11px;
  height: 16px; }

.icon-placeholder {
  background-image: url(../../img/sprite.png);
  background-position: -58px -146px;
  width: 33px;
  height: 48px; }

.icon-r {
  background-image: url(../../img/sprite.png);
  background-position: -232px -187px;
  width: 16px;
  height: 24px; }

.icon-ruble {
  background-image: url(../../img/sprite.png);
  background-position: -232px -49px;
  width: 26px;
  height: 26px; }

.icon-size-blue {
  background-image: url(../../img/sprite.png);
  background-position: -232px -148px;
  width: 20px;
  height: 20px; }

.icon-smartphone-hand {
  background-image: url(../../img/sprite.png);
  background-position: -168px 0px;
  width: 64px;
  height: 84px; }

.icon-smartphone-white {
  background-image: url(../../img/sprite.png);
  background-position: -232px 0px;
  width: 27px;
  height: 49px; }

.icon-verified {
  background-image: url(../../img/sprite.png);
  background-position: -90px 0px;
  width: 78px;
  height: 78px; }

.icon-vk {
  background-image: url(../../img/sprite.png);
  background-position: -162px -90px;
  width: 28px;
  height: 27px; }

.icon-x {
  background-image: url(../../img/sprite.png);
  background-position: -90px -78px;
  width: 9px;
  height: 9px; }
